name: Android CI

on:
  push: 
    branches: [ "main" ]
  pull_request: 
    branches: [ "main" ]

jobs:
  build: 

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: set up JDK 17
      uses:  actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle
        
    # Decode Base64 và tạo file
    - name:  Create google-services.json
      run: echo "${{ secrets. GOOGLE_SERVICES_JSON_BASE64 }}" | base64 -d > app/google-services.json
      
    # Tạo gradle.properties với AndroidX enabled
    - name: Create gradle.properties
      run: |
        cat <<EOF > gradle.properties
        android.useAndroidX=true
        android.enableJetifier=true
        org.gradle.jvmargs=-Xmx2048m -Dfile.encoding=UTF-8
        android.nonTransitiveRClass=true
        graphhopperApiKey=${{ secrets.GRAPHHOPPER_API_KEY }}
        openmapApiKey=${{ secrets.OPENMAP_API_KEY }}
        EOF

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
      
    - name: Build with Gradle
      run: ./gradlew build
