name: Android CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle
        
    # Decode Base64 và tạo file
    - name: Create google-services.json
      run: echo "${{ secrets.GOOGLE_SERVICES_JSON_BASE64 }}" | base64 -d > app/google-services.json
      
    # Tạo gradle.properties
    - name: Create gradle.properties
      run: |
        cat <<EOF > gradle.properties
        MAPS_API_KEY=${{ secrets.MAPS_API_KEY }}
        DIRECTIONS_API_KEY=${{ secrets.DIRECTIONS_API_KEY }}
        EOF

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Build with Gradle
      run: ./gradlew build
